<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Messages</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<%= link_to "New Message", new_message_path, class: "btn btn-primary" %>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-12">
			<% @messages.each do |message| %>
				<h2><%= message.title %></h2>
				<%= link_to "View message", message_path(message), class: "btn btn-info" %>
			<% end %>
		</div>
	</div>
</div>